name: Pull Request Validation

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        lang: ['jvm', 'js', 'wasm', 'native']
        java: ['17', '21', '25']
    name: Sjsonnet build for ${{ matrix.lang }} on JDK ${{ matrix.java }}
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
          cache: sbt
      - uses: sbt/setup-sbt@v1
      - name: Set up Node.js 24
        if: ${{ matrix.lang == 'js' || matrix.lang == 'wasm' }}
        uses: actions/setup-node@v6
        with:
          node-version: '24'
      - name: Cache Coursier cache
        uses: coursier/cache-action@bebeeb0e6f48ebad66d3783946588ecf43114433 # 6.4.8
      - name: Check Formatting
        run: ./mill _.${{ matrix.lang }}[_].__.checkFormat
      - name: Compile with mill
        timeout-minutes: 15
        run: ./mill _.${{ matrix.lang }}[_].__.compile
      - name: Run mill tests for ${{ matrix.lang }}
        run: ./mill _.${{ matrix.lang }}[_].__.test
      - name: Compile with sbt
        timeout-minutes: 15
        if: ${{ matrix.lang == 'jvm' }}
        run: sbt compile bench/compile bench/jmh:compile
      - name: Run sbt tests
        timeout-minutes: 15
        if: ${{ matrix.lang == 'jvm' }}
        run: sbt test
      - name: Run Native Image Test Suites
        timeout-minutes: 30
        if: ${{ (matrix.lang == 'jvm') && (matrix.java == '25') }}
        run: sjsonnet/test/graalvm/run_test_suites.py
