name: Pull Request Validation

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        lang: ['jvm', 'js', 'native']
        java: ['17', '21', '25']
    name: Sjsonnet build for ${{ matrix.lang }} on JDK ${{ matrix.java }}
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
          cache: sbt
      - uses: sbt/setup-sbt@v1
      - name: Check Formatting
        run: ./mill _.${{ matrix.lang }}[_].__.checkFormat
      - name: Compile with mill
        run: ./mill _.${{ matrix.lang }}[_].__.compile
      - name: Run mill tests for ${{ matrix.lang }}
        run: ./mill _.${{ matrix.lang }}[_].__.test
      - name: Compile with sbt
        if: ${{ matrix.lang == 'jvm' }}
        run: sbt compile bench/compile bench/jmh:compile
      - name: Run sbt tests
        if: ${{ matrix.lang == 'jvm' }}
        run: sbt test
      - name: Run Native Image Test Suites
        if: ${{ (matrix.lang == 'jvm') && (matrix.java == '21') }}
        run: sjsonnet/test/graalvm/run_test_suites.py
